body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

nav a.upperlinks {
  text-align: center;
  background: gray;
  padding-left: 10x;
  padding-right: 10x;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
